---
BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 120
PenaltyBreakAssignment: 100000

BreakBeforeBraces: Attach

AllowAllArgumentsOnNextLine: true
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent

InsertBraces: true
InsertNewlineAtEOF: true
